!!! 5 doctype html
html(lang="ru")
  body
    p {{_('Dear')}} {{ user.username }},
    p {{_('To reset your password')}} 
      a(href="{{ url_for('auth.reset_password', token=token, _external=True) }}") {{_('click here')}} 
    p {{_('Alternatively, you can paste the following link in your browser&#39;s address bar:')}}
    p {{ url_for('auth.reset_password', token=token, _external=True) }}
    p {{_('If you have not requested a password reset simply ignore this message.')}}
    p {{_('Sincerely,')}}
    p {{_('The Site_flask Team')}} 