!!! 5 doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(type='text/css' rel='stylesheet' href="{{ url_for('static', filename='css/style.css')}}")
    block title
      if title
        title site Flask - {{ title }}
      else
        title site Flask
  body
    block mainmenu
      div
        a(href="{{ url_for('index') }}") Home 
        if current_user.is_anonymous
          a(href="{{ url_for('login') }}") Login
        else 
          a(href="{{ url_for('logout') }}") Logout
      hr
        with messages = get_flashed_messages
        if messages
          ul
            for message in messages
              li 
                {{ message }}
    block content
